.hero {
	height: 564px;
	object-fit: cover;
	width: 100%;
	margin-bottom: 100px;
}

.hero-caption {
	position: absolute;
	top: 400px;
	background-color: rgba(255, 255, 255, 0.7);
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	left: 0;
	right: 0;
	color: #333;
	border-radius: 0.5rem;
	padding: 1rem;
}

footer {
	padding: 0 100px;
}
